<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand">
      <img src="assets/images/brand.png" alt="Bexs Forum" class="brand-image">
      <span class="brand-text font-weight-light">&nbsp; Bexs Forum</span>
    </a>
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>